@{
    ViewBag.Title = "BlogList";
}
<h2>文章列表</h2>
@using Webdiyer.WebControls.Mvc;
@model PagedList<System.Data.DataRow>
<table width="100%">
    <tr>
        <th>标题</th>
        <th>发布日期</th>
        <th>作者</th>
        <th>编号</th>
    </tr>
    @foreach (var dr in Model)
    {
        <tr><td>@dr["Title"]</td><td>@dr["CreateTime"]</td><td>@dr["CreaterName"]</td><td>@dr["ID"]</td></tr>
    }
</table>
@Html.Pager(Model, new PagerOptions { PageIndexParameterName = "id", ShowPageIndexBox = true, PageIndexBoxType = PageIndexBoxType.DropDownList, ShowGoButton = false, PageIndexBoxWrapperFormatString = " 转到{0}", SeparatorHtml = "" })
<br />
>>分页 共有 @Model.TotalItemCount 篇博文 @Model.CurrentPageIndex/@Model.TotalPageCount
@*@section Scripts{@{Html.RegisterMvcPagerScriptResource();}}*@

