@using Webdiyer.WebControls.Mvc;
@model PagedList<System.Data.DataRow>
<div id="dvLink">
    <table width="100%">
        <tr>
            <th>标题</th>
            <th>发布日期</th>
            <th>作者</th>
            <th>编号</th>
        </tr>
        @foreach (var dr in Model)
        {
            <tr>
        <td>@Html.ActionLink(dr["Title"].ToString(), "Blogs", "BlogArtcle", new { blogid = dr["ID"].ToString() }, new { target = "_blank" })</td><td>@dr["CreateTime"]</td><td>@dr["CreaterName"]</td><td>@Html.ActionLink(dr["ID"].ToString(), "Blogs", "BlogArtcle", new { blogid = dr["ID"].ToString() })</td></tr>
        }
    </table>
    @Html.AjaxPager(Model, new PagerOptions { PageIndexParameterName = "pageindex", ShowPageIndexBox = false, PageIndexBoxType = PageIndexBoxType.DropDownList, ShowGoButton = false, PageIndexBoxWrapperFormatString = " 转到{0}", SeparatorHtml = "" }, new AjaxOptions() { UpdateTargetId = "dvLink" })
    <br />
</div>
