@using BlogParkTestPro.Model
@using BlogParkTestPro.WebUI.Models
@using System.Data;
@model  RightMenuViewModel
<div style="background-color: #eef;left: 10px; margin-top: 0; padding-top: 0;position: absolute; width: 150px;">
    <div class="clearfix" style="position:relative;">
        <ul id="menu" class="ui-menu ui-widget ui-widget-content ui-corner-all" role="menu" tabindex="0" aria-activedescendant="ui-id-22">
            @foreach (LogCategory item in Model.CategoryList)
            {
                if (item.FatherID == -1)
                {
                    var query = from p in Model.CategoryList
                                where p.FatherID == item.CategoryID
                                select p;
                    if (query.Count() > 0)
                    {
                        <li class="ui-menu-item" role="presentation">
                            <a class="ui-corner-all" href="#" aria-haspopup="true" tabindex="-1" role="menuitem">
                                <span class="ui-menu-icon ui-icon ui-icon-carat-1-e"></span>
                                @item.CategoryName
                            </a>
                            <ul class="ui-menu ui-widget ui-widget-content ui-corner-all" style="display: none; top: 9812.5px; left: 212px;" role="menu" aria-expanded="false" aria-hidden="true">
                                @foreach (var ite in query)
                                {
                                    <li class="ui-menu-item" role="presentation"><a class="ui-corner-all" href="#" tabindex="-1" role="menuitem">@ite.CategoryName</a></li>
                                }
                            </ul>

                        </li>
                    }
                    else
                    {
                        <li class="ui-menu-item" role="presentation">
                            <a class="ui-corner-all" href="#" tabindex="-1" role="menuitem">@item.CategoryName</a>
                        </li>
                    }
                }
            }
        </ul>
    </div>
    <div style="border-left: 0px solid #ccc; border-right: 1px solid #ccc; color: #404040; margin-top: 0; padding: 0;">
        <h4>链接</h4>
        <ul>
            <li style="list-style: none outside none;">反馈和建议</li>
            <li style="list-style: none outside none;">官方博客</li>
            <li style="list-style: none outside none;">博客模板</li>
            <li style="list-style: none outside none;">JAVA博客</li>
            <li style="list-style: none outside none;">C++博客</li>
            <li style="list-style: none outside none;">手机版</li>
        </ul>
    </div>
    <div style="border-left: 0px solid #ccc; border-right: 1px solid #ccc; color: #404040; margin-top: 0; padding: 0;">
        <h4>推荐博客排行</h4>
        @{
            <div style="  color: gray;
    line-height: 2em;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 2px;">
                <ul style="border-left: 0px solid #ccc; border-right: 0px solid #ccc; color: #404040; margin-top: 0; padding: 0;">
                    @foreach (DataRow item in Model.TopMemberUserTable.Rows)
                    {
                        <li style="list-style: none outside none;">@item["rowID"].ToString() <a href="#">@item["Nickname"].ToString()</a></li>
                    }
                </ul>
            </div>}
    </div>
    <div style="border-left: 0px solid #ccc; border-right: 1px solid #ccc; color: #404040; margin-top: 0; padding: 0;">
        <h4>最新博客</h4>
        @{
            <div style="  color: gray;
    line-height: 2em;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 2px;">
                <ul style="border-left: 0px solid #ccc; border-right: 0px solid #ccc; color: #404040; margin-top: 0; padding: 0;">
                    @foreach (DataRow item in Model.RecommendUserTable.Rows)
                    {
                        <li style="list-style: none outside none;">@item["MemberID"].ToString() <a href="#">@item["Nickname"].ToString()</a></li>
                    }
                </ul>
            </div>}
    </div>
</div>

<script type="text/javascript">
    $("#menu").menu();
</script>
