@using System.Data;
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.3.custom.min.js"></script>
    <link href="~/CSS/jquery-ui-1.10.3.custom.css" rel="stylesheet" />
    <link href="~/CSS/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/CJL.0.1.min.js"></script>
    <script src="~/Scripts/FixedMenu.js"></script>
    <script src="~/Scripts/RelativePosition.js"></script>
    <script src="~/uploadify/jquery.uploadify.min.js"></script>
    <link href="~/uploadify/uploadify.css" rel="stylesheet" />
    <title>@ViewBag.Title - 我的 ASP.NET MVC 应用程序</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="cons" style=" line-height: 22px; margin-left: 3px; margin-right: 8px; padding-right: 0;">
        <div style=" margin: auto;    padding: 0 8px;">
            <div style=" color: #666; float: left;">代码改变世界</div>
            <div style="color: #5b5b5b;font-size: 12px;height: 22px;line-height: 22px;overflow: hidden;text-align: right;">
                @if (Request.Cookies["loginuser"] != null)
                {
                    <a href=""> @HttpUtility.UrlDecode(Request.Cookies["loginuser"].Value)</a>@Html.ActionLink("退出", "Singout", "Home");
                }
                else
                {
                    @Html.ActionLink("登录", "Login", "Home");@Html.ActionLink("注册", "RegistrationPage", "Home");
                }
            </div>
        </div>
    </div>
    <div id="header" style="margin-left:10px;margin-right:10px;">
        <p class="h_r_3" style=" border-bottom: 1px solid #d8dfea;font-size: 0;height: 0;line-height: 0;margin: 0 1px;"></p>
        <p class="h_r_2" style="border-left: 2px solid #d8dfea;border-right: 1px solid #d8dfea;font-size: 0;height: 1px;line-height: 0;margin: 0 1px;"></p>
        <p class="h_r_1" style="border-left: 2px solid #d8dfea;border-right: 1px solid #d8dfea;font-size: 0; height: 1px;line-height: 0;"></p>
        <div id="header_block" style=" border-left: 1px solid #d8dfea;border-right: 1px solid #d8dfea;height: 65px;">
            <div id="logo" style="left: 18px; position: absolute; ">
                <h1>
                    <a title="开发者的网上家园" href="#" style="outline:0 none;">
                        <img width="142px" height="55px" alt="博客园Logo" style=" border: 0 none;" src="~/Images/logo_small.gif" />
                    </a>
                </h1>
            </div>
            <div class="clear"></div>
        </div>
        <p class="h_r_1" style="border-left: 2px solid #d8dfea;border-right: 1px solid #d8dfea;font-size: 0; height: 1px;line-height: 0;"></p>
        <p class="h_r_2" style="border-left: 2px solid #d8dfea;border-right: 1px solid #d8dfea;font-size: 0;height: 1px;line-height: 0;margin: 0 1px;"></p>
        <p class="h_r_3" style=" border-bottom: 1px solid #d8dfea;font-size: 0;height: 0;line-height: 0;margin: 0 1px;"></p>
    </div>
    <div id="nav_menu"  style="height: 30px; line-height: 30px; margin: 8px 7px 0 10px; padding: 0; background: -moz-linear-gradient(center top, #2b6695, #0e4773) repeat scroll 0 0 #2b6695; box-shadow: -3px 1px 3px rgba(0, 0, 0, 0.25);">
       @{
           DataTable dt = (DataTable)ViewBag.Relationship;
           if (dt.Rows.Count > 0)
           {
               foreach (DataRow item in dt.Rows)
               {
                   <a href="#" style="color: #eee; padding-left: 24px; font-size: 14px; text-decoration:none;" >@item["MenuName"].ToString()</a>
               }
           }
       }
    </div>
    <div id="main" style=" margin: 10px 320px 0 180px; padding: 0;">
        <div style=" background-color: #eef; left: 10px; margin-top: 0; padding-top: 0; position: absolute;  float:left;width:150px;">
            <section id="block-menu">
                @Html.Action("CategoryList", "Category")
            </section>
        </div>
        <div style="margin:0px;">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <div style=" background-color: #eef;position: absolute;right: 7px;top: 174px;width: 300px;float:right;">
            网页右侧
        </div>
    </div>
    <div id="footer_bottom" style=" margin: 0 auto;text-align: center;">
        <a href="">关于博客园</a>
        <a href="">联系我们</a>
        <a href="">广告服务</a>
        <a target="_blank" href="">沪ICP备09004260号</a>
        ©2004-2014
        <a href="">博客园</a>
        保留所有权利
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
