<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/aggsite.js"></script>
    <link href="~/CSS/aggsite.css" rel="stylesheet" />
    <title>@ViewBag.Title - 我的 ASP.NET MVC 应用程序</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">@Html.ActionLink("将你的徽标放置在此处 人参归脾", "Index", "Home")</p>
                @if (Request.Cookies["loginuser"] != null)
                {
                    @HttpUtility.UrlDecode(Request.Cookies["loginuser"].Value)
                }
            </div>
            <div class="float-right">               
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("主页", "Index", "Home")</li>
                        <li>@Html.ActionLink("关于", "About", "Home")</li>
                        <li>@Html.ActionLink("联系方式", "Contact", "Home")</li>
                        <li>
                            @if (Request.Cookies["loginuser"] != null)
                            {
                                @HttpUtility.UrlDecode(Request.Cookies["loginuser"].Value)
                            }
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<div id="body">
    <div style="float:left; width:170px">
        <section id="login">
            @Html.Action("GetSubCategoryList", "Category", new { id = 100 })
        </section>
    </div>
    @RenderSection("featured", required: false)
    <section class="content-wrapper main-content clear-fix">
        @RenderBody()
    </section>
</div>
<footer>
    <div class="content-wrapper">
        <div class="float-left">
            <p>&copy; @DateTime.Now.Year - 我的 ASP.NET MVC 应用程序</p>
        </div>
    </div>
</footer>

@Scripts.Render("~/bundles/jquery")
@RenderSection("scripts", required: false)
</body>
</html>
